html{
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;

    color: #D1D0CF;
    background: #0b0b0e;
}
a{
    color: #D1D0CF;
}
#logo{
    width: 160px;
}
.menu-main-menu-container {
    display: inline-block;
    width: 100%;
}
.navbar ul.navbar-nav {
    display: block;
    text-align: center;
}
header .navbar ul li {
    list-style: none;
    margin-right: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: inline-block;
}
.navbar ul li {
    list-style: none;
    margin-right: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: inline-block;
}
.navbar ul li .sub-menu {
    display: none;
}

.navbar ul li:hover > .sub-menu{
display: block;
}

.navbar ul li .sub-menu li {
    margin-right: 0;
    padding: 0 15px;
}

.navbar ul.sub-menu li {
    display: block;
    text-align: left;
}
.navbar ul li:hover .sub-menu {
    display: block;
    padding: 15px 0;
    background: var(--iq-body-bg);
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0;
    display: inline-block;
    min-width: 256px;
    -webkit-box-shadow: 0px 1px 30px 0px rgb(36 38 43 / 10%);
    -moz-box-shadow: 0px 1px 30px 0px rgba(36, 38, 43, 0.10);
    box-shadow: 0px 1px 30px 0px rgb(36 38 43 / 10%);
}
.avatar-40 {
    height: 40px;
    width: 40px;
    min-width: 40px;
    line-height: 40px;
    font-size: 0.6rem;
}

.home-slider{
    position: relative;
}

.container-fluid {
    padding: 0 100px!important;
}

header{
    position: fixed!important;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 999;
    background: rgba(20, 20, 20, 0.5) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.slick-nav {
    --active: #fff;
    --border: rgba(255, 255, 255, .12);
    width: 44px;
    height: 44px;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 44px);
}

.slick-bg:before{
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 1) 35%, rgba(83, 100, 141, 0) 100%);
        width: 100%;
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
}
.slick-bg{
    cursor:grab;
    padding: 100px 0 50px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    z-index: 1;
}


.slick-next {
    right: 25px!important;
}
.slider-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

h1.slider-text {
    font-size: 80px;
    font-weight: 800;
    margin: 15px 0;
}
.big-title {
    font-size: 54px;
    color: #fff;
    font-family: Arial;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    height: 54px;
    line-height: 54px;

    transition: all .5s ease-in-out;
    max-height: 54px;
    position: relative;
    text-transform: uppercase;

}
.slider [data-animation-in] {
    opacity: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-transition: opacity 0.5s ease 0.3s;
    transition: opacity 0.5s ease 0.3s;
    -webkit-transition: 1s;
    transition: 1s;
}
.watch-trailer{
    font-size: 17px;
    letter-spacing: 3.5px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
    text-decoration: none;
    outline: none;
}

.watch-trailer:hover{
    outline: none;
    text-decoration: none;
}

.desc{
    margin: 20px 0;
    width: 75%;
}

.trending-list {
    margin: 0 0 30px 0;
}
#btn-assistir{
    border-radius: 20px;
    color: white;
    border: 1px solid white;

}
#btn-assistir svg{
    fill: white;
    width: 30px;
    height: 30px;
}

#btn-assistir span{
    font-size: 130%;
    line-height: 34px;
    margin-left: 10px;
}




.notifications{
    position: relative;
  }

  .notification_dd,.profile_dd{
    position: absolute;
    top: 48px;
    right: -15px;
    user-select: none;
    background: #fff;
    border: 1px solid #c7d8e2;
    width: 350px;
    height: auto;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
                -10px -10px 35px rgba(0,0,0,0.125);
  }

  .notification_dd:before,.profile_dd:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}


.notification_dd li .notify_icon{
    display: flex;
  }


  .notification_dd li .notify_icon .icon{
    display: inline-block;
    background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
      width: 40px;
      height: 42px;
  }
  .notification_dd li.baskin_robbins .notify_icon .icon{
    background-position: 0 -43px;
  }

  .notification_dd li.mcd .notify_icon .icon{
    background-position: 0 -86px;
  }

  .notification_dd li.pizzahut .notify_icon .icon{
    background-position: 0 -129px;
  }

  .notification_dd li.kfc .notify_icon .icon{
    background-position: 0 -178px;
  }

  .notification_dd li .notify_data{
    margin: 0 15px;
    width: 185px;
  }

  .notification_dd li .notify_data .title{
    color: #000;
    font-weight: 600;
  }

  .notification_dd li .notify_data .sub_title{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
  }

  .notification_dd li .notify_status p{
    font-size: 12px;
  }

  .notification_dd li.success .notify_status p{
    color: #47da89;
  }

  .notification_dd li.failed .notify_status p{
    color: #fb0001;
  }

  .notification_dd li.show_all{
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .notification_dd li.show_all p{
    font-weight: 700;
    color: #3b80f9;
    cursor: pointer;
  }

  .notification_dd li.show_all p:hover{
    text-decoration: underline;
  }
  .navbar .notifications.active .notification_dd , .profile.active .profile_dd {
    display: block!important;
}

.item-notification{
    display: grid!important;



}
.item-notification .image-notification{

}
.image-notification img{
    width: 50px;
    border-radius: 10px;
}

.info-notification{

}
.info-notification .title{
text-align: left;
font-weight: bold;
color: black;
}
.info-notification .message{
    text-align: left;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 0;
    color: black;
}
.info-notification .time{
    text-align: left;
    font-weight: 100;
    margin-top: 5px;
    color: gray;
    font-size: 10px;
}
.info-notification{
    padding-top: 0;
}
.btn-delete{
    position:absolute;
    right: 0;
}
.btn-delete:hover{
    color: var(--danger);
    cursor: pointer;
}

.profile_dd{
    width: 225px;
  }

  .profile .profile_dd:before{
    rigth: 10px;
  }


  .profile_dd ul li {
    border-bottom: 1px solid #f1f2f4;
}
.profile_dd ul li  a{
    display: block;
    padding: 15px 35px;
    position: relative;
}

.profile_dd ul li  a .picon{
    display: inline-block;
    width: 30px;
  }

  .profile_dd ul li  a:hover{
    color: #3b80f9;
    background: #f0f5ff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .profile_dd ul li.profile_li a:hover {
    background: transparent;
    cursor: default;
    color: #7f8db0;
}

.profile_dd ul li .btn{
    height: 32px;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    background: #3b80f9;
    width: 125px;
    margin: 5px auto 15px;
}

.profile_dd ul li .btn:hover{
    background: #6593e4;
  }

  .profile img{
    width: 35px;
  }



.searchBox{
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top: 0;
    height: 100vh;
    background: #170606!important;
    display: flex;
    z-index: 9999;
}
.searchBox .content-search{

    width: 100vw;

}
.searchBox .close-btn{
    position: absolute;
    z-index: 99;
    right: 25px;
    top: 25px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}


.search-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  .search-btn span{
    color: #fff;
    font-size: 22px;
    line-height: 60px;
  }
  .search-data{
    position: absolute;
    height: 50px;
    width: 400px;
    display: flex;
    text-align: center;
    /* display: none; */
  }
  .search-data input{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
  }
  .search-data .line{
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.4s 0.3s linear;
  }
  .search-data .line.active{
    transform: scaleX(1);
  }
  .search-data label{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(255,255,255,0.7);
  }
  .search-data input:valid ~ label{
    opacity: 0;
  }
  .search-data span{
    color: #fff;
    position: absolute;
    width: 50px;
    font-size: 25px;
    right: 0;
    top: 0;
    line-height: 45px;
    cursor: pointer;
  }
  .search-data{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.searchBox{
    display: none;
}

.activate{
    display: block!important;
}
.results{
    overflow: visible;
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 150px;
    display: flex;
    justify-content: center;
}
.h-300{
    height: 300px!important;
    width: 200px!important;
    object-fit: fill;
}

.lds-dual-ring.hidden {
    display: none;
    }
    .lds-dual-ring {
      display: inline-block;
      width: 80px;
      height: 80px;
    }
    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 5% auto;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: rgba(0,0,0,.8);
        z-index: 999;
        opacity: 1;
        transition: all 0.5s;
    }
    .loader-active{
        display: flex!important;
    }
    .cirle-icon{
        padding:20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #551616;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .cirle-icon i{
        font-size: 50px;
        color: white;
    }
    .circle-h2{
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
        color: var(--white);

    }

.recipe-popcorn{
    width: 80px;
    cursor: pointer;
    height: 100px;
    background: transparent;
     z-index: 9999;
    position: fixed;
    /* position: absolute; */
    /* left: 50%; */
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    transform: translateX(0);
}
#popcorn-svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    visibility: hidden;
    filter: drop-shadow(0px 1px 5px rgba(10, 10, 10, 0.5));
  }
.recipe-popcorn:hover{
    cursor: pointer;
}
.recipe-popcorn img{

    width: 100%;
}
.bucket{
    transform: rotate(74deg);
}
.recipe-popcorn img{
    cursor: pointer;
}
    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }

    2% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }

    4% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }

    6% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }

    8% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }

    10% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg)
    }

    12% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }

    14% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }

    16% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }

    18% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg)
    }

    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }

    2% {
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg)
    }

    4% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }

    6% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg)
    }

    8% {
        -webkit-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }

    10% {
        -webkit-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
        transform: rotate(22deg)
    }

    12% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }

    14% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg)
    }

    16% {
        -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }

    18% {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg)
    }

    20% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.ringing{
    -webkit-animation: ring 2s ease infinite;
    animation: ring 2s ease infinite;
    transform-origin-x: 50%;
    transform-origin-y: 0px;
    transform-origin-z: initial
}


#menu_mobile{

    bottom: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 0 15px;
    border-radius: 10px;
}
.activeMenuMobile{
    transform: scale3d(1.2, 1.2, 1.2);
    overflow: unset;
    color: white;
    opacity: 1;
}
#menu_mobile ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center
}

#menu_mobile ul li{
    width: 20%;
    display: block!important;
    list-style: none;
    margin: auto;
}

#menu_mobile ul li a {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}
#menu_mobile ul li a:hover{
    cursor: pointer;
}
#menu_mobile ul li a{
    opacity: .6;
    display: flex;
    position: relative;
    align-items: center;
    transition: opacity 200ms;
}

#menu_mobile ul li a i{
    width: 18px;
    height: 18px;
    opacity: .8;
}

#menu_mobile ul li a span{
    font-size: 70%;
    padding-top: 5px;
    margin: 0!important;
}

#top_nav_mobile{
    position: relative!important;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 1024px){
    #btn-assistir svg{
        fill: white;
        width: 25px;
        height: 25px;
    }

    #btn-assistir span{
        font-size: 110%;
    }
}

@media only screen and (max-width:600px) {
    .navbar{
        flex-wrap: unset;
    }
    .searchBox .content-search{
        width: 100%;
        display: flex;
        padding: 0px 15px;
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 0;
        height: 50px;
    }
    .search-data{
        top: 90;
        left: 50%;

        width: 90%;
    }
}
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.185);
}

::-webkit-scrollbar
{
	width: 9px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--primary);
}



